.chessboard {
  width: 100%; 
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels-x {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: -30px;  /* Adjust the position of X-axis labels */
  padding-left: 5%;
}

.label,
.label-y {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5%;
}

.label-y {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  height: 12.5%; 
}

.square {
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 350%;  
  font-family: 'Arial', sans-serif;
  border: 1px solid #000;
  position: relative;
  transition: background-color 0.3s ease;
}

.light {
  background-color: #f0d9b5; 
}

.dark {
  background-color: #b58863; 
}


.label-y {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%); 
}

.valid-move-overlay {
  position: absolute;
  background-color: rgba(0, 255, 0, 0.5); 
  width: 100%;
  height: 100%;
  border-radius: 5px;
  pointer-events: none;  
}

.square[draggable="true"] {
  cursor: grab;  
}

.square[draggable="true"]:active {
  cursor: grabbing;  
}
