.promotion-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.promotion-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.promotion-option {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

.promotion-option:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.icon {
  font-size: 50px;
}

.close-modal {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.close-modal:hover {
  background-color: #0056b3;
}
