.side-nav {
  height: 100vh;
  width: 200px;
  background-color: #3b2f2f;  /* Dark wood-like background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.side-nav.light-mode {
  background-color: #f3f4f6;  /* Light background for Light UI mode */
  color: black;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  margin: 15px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #563636;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-item {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.settings-item:hover {
  background-color: #563636;
}
